<mat-toolbar color="primary">

    <button mat-button>
        Logout
    </button>

    <button mat-button
        (click)="onProfile()"
        class="btn"
        id="btn-profile" >
        My Profile
    </button>

    <button mat-button
        (click)="onFeed()"
        class="btn"
        id="btn-feed" >
        News Feed
    </button>

    <button mat-button
        (click)="onSettings()"
        class="btn"
        id="btn-setting" >
        Settings
    </button>

    <!-- temporary to check the guard works -->
    <button mat-button
        (click)="onAdmin()"
        class="btn"
        id="btn-admin" >
        Admin
    </button>

    <!-- the button supposed to hide if user is not admin -->
    <!-- <button mat-button
        *ngIf="user && user.userRole === 'admin'"
        (click)="onAdmin()"
        class="btn"
        id="btn-admin" >
        Admin
    </button> -->

    <!-- <app-liked-stories
        *ngIf="likedStories"
        [likedStories]="likedStories">
    </app-liked-stories> -->

</mat-toolbar>
