<div id="postStory-container">

    <form
        id="postStory-form"
        class="fieldset"
        [formGroup]="inputForm"
        (ngSubmit)="onSubmit()" >

        <mat-form-field
            class="row"
            appearance="fill" >

            <mat-label
                id="label-newStory" >
                What's up!
            </mat-label>

            <textarea
                matInput
                id="input-newStory"
                type="text"
                name="newStory"
                placeholder="Post new story"
                formControlName="newStory">
            </textarea>
            <mat-hint>Any new story? Post it! </mat-hint>

        </mat-form-field>

        <button
            mat-fab
            color="primary"
            class="btn btn-post btn-green"
            type="submit"
            [disabled]="!inputForm.valid">
            Post
        </button>

    </form>
    <div>TEST: {{inputForm.value.newStory | json}}</div>
</div>


<!-- <div>
    <input #userInput type="text" placeholder="Post News Feed Form" />
    <button mat-raised-button (click)="onAddStory(userInput.value)" type="button" class="btn btn-post">Post</button>
</div> -->

<!--

        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>


 -->
