<mat-card
  *ngIf="comment"
  class="comment-card">

  <mat-card-header>

    <div mat-card-avatar class="example-header-image">
      <img
      class="logo"
      width=50
      src={{logo}}
      alt="logo" />
    </div>

    <mat-card-title>
      {{comment.publisherName ? comment.publisherName : "No publisherName"}}
    </mat-card-title>

    <mat-card-subtitle>
      {{comment.publishedTime | date}}
    </mat-card-subtitle>

  </mat-card-header>


  <img *ngIf="comment.content.image"
  mat-card-image src={{comment.content.image}}
  alt="Photo">


  <mat-card-content>
    <p>
      {{comment.content.text ? comment.content.text : ""}}
    </p>
    <p *ngIf="!comment.content ||
      (!comment.content.text && !comment.content.image && !comment.content.video)">
      No text, image nor video. Ensure to validate new post.
    </p>
  </mat-card-content>


  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

</mat-card>

<!--
<li *ngFor="let comment of comments">
  <div>
    <p >
      publisherName: {{comment.publisherName}}
      <br>
      publishedTime: {{comment.publishedTime}}
      <br>
      content image: {{comment.content.image}}
      <br>
      content video: {{comment.content.video}}
      <br>
      content text: {{comment.content.text}}
    </p>
    <p>
      <input type="checkbox" />
      <label>Like</label>
    </p>
  </div>
</li> -->
