<style>

  </style>

  <main>

    <div class="div__main">

      <div>

        <app-post-feed [stories]="stories"></app-post-feed>

        <app-search-bar [stories]="stories"></app-search-bar>

        <div *ngIf="stories?.length" class="list-stories">
          <div *ngFor="let story of stories" >
            <app-story
              [stories]="stories"
              [story]="story">
            </app-story>
          </div>
        </div>

      </div>

      <div>
        <div>
          <p>
            PublisherName: Published Time
            <br>
            Content (Custom pipe, limited length)
          </p>
          <button mat-raised-button>Remove</button>
        </div>
        <div>
          - Mid Section-
        </div>
        <div>
          - Bottom Section
        </div>
      </div>

    </div>

    <nav>

      <button
        [routerLink]="profilePath">
        My Profile
      </button>

      <button
        [routerLink]="newsFeedPath">
        News Feed
      </button>

      <button
        [routerLink]="settingsPath">
        Settings
      </button>

    </nav>

  </main>
