<!--
<p>Let's check if every module is working:</p>
<app-login></app-login>
<app-profile></app-profile>
<app-admin></app-admin>
<app-register></app-register>
<app-news-feed></app-news-feed>
<app-settings></app-settings> -->
<div class="container">
  <app-liked-stories></app-liked-stories>
  <app-nav-top></app-nav-top>
  <router-outlet></router-outlet>
  <app-nav-bottom></app-nav-bottom>
</div>

<!-- slider from angular material ui
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
-->
