<main>
  <nav class="nav-top">
    <a>Like List</a>
  </nav>

  <div class="div__main">

        <div>

          <div class="row">
            <input type="text" placeholder="Post News Feed Form" />
            <button class="btn" id="btn-post">Post</button>
          </div>

          <ul>
            <li>
              <p>
                Story 1
              </p>
              <p>
                <input type="checkbox" />
                <label>Like</label>
              </p>
            </li>
            <li>
              <p>
                Story 2
              </p>
              <p>
                <input type="checkbox" />
                <label>Like</label>
              </p>
            </li>
          </ul>

        </div>

        <div class="popup">
          <div>
            <p>
              PublisherName: Published Time
              <br>
              Content (Custom pipe, limited length)
            </p>
            <button class="btn" id="btn-remove" >Remove</button>
          </div>
          <div>
            - Mid Section-
          </div>
          <div>
            - Bottom Section
          </div>
        </div>

      </div>

  <nav class="nav-bottom">
    <button class="btn" id="btn-profile">My Profile</button>
    <button class="btn" id="btn-feed">News Feed</button>
    <button class="btn" id="btn-setting">Settings</button>
  </nav>

</main>

<router-outlet></router-outlet>
