<main>

    <div class="div__main">

      <fieldset>

        <div class="row">
          <label for="username" id="label-username">Username</label>
          <input #username type="text" id="username" />
        </div>

        <div class="row">
          <label for="email" id="label-email">Email</label>
          <input #email type="email" id="email" />
        </div>

        <div class="row">
          <label for="password" id="label-password">Password</label>
          <input #password type="password" id="password" />
        </div>

        <div class="row">
          <label for="password" id="label-confirm-password">Confirm Password</label>
          <input #confirmPassword type="password" id="confirm-password" />
        </div>

        <button
          (click)="onRegister(username.value, email.value, password.value, confirmPassword.value)"
          class="btn"
          id="btn-register" >
          Register
        </button>

      </fieldset>

    </div>

  </main>
