<div id="postStory-container">

    <form
        id="postStory-form"
        class="fieldset"
        [formGroup]="inputForm"
        (ngSubmit)="onSubmit()" >

        <mat-form-field
            class="row"
            appearance="fill" >

            <mat-label
                id="label-newStory" >
                Looking for something? Look up!
            </mat-label>

            <textarea
                matInput
                id="input-newStory"
                type="text"
                name="newStory"
                placeholder="Post new story"
                formControlName="newStory">
            </textarea>
            <mat-hint>Input keywords to find a publisher or a text in stories</mat-hint>

        </mat-form-field>

        <button
            mat-fab
            color="primary"
            class="btn btn-post btn-green"
            type="submit"
            [disabled]="!inputForm.valid">
            Search
        </button>

    </form>
</div>
