<main>
    <nav class="nav-top">
      <a id="like-list">Like List</a>
    </nav>

    <div class="div__main">

      <fieldset>

        <img class="avatar" src="#" />

        <div class="row">
          <label for="username">Username</label>
          <input type="text" id="username" />
        </div>

        <div class="row">
          <label for="password">Password</label>
          <input type="password" id="password" />
        </div>

        <div class="row">
          <label for="gender">Gender</label>
          <input type="text" id="gender" />
        </div>

        <div class="row">
          <label for="age">Age</label>
          <input type="text" id="age" />
        </div>

        <div class="row">
          <label for="phone">Phone</label>
          <input type="text" id="phone" />
        </div>

        <div class="row">
          <img src="#" />
          <span>0</span>
          <img src="#" />
          <span>0</span>
        </div>

      </fieldset>

    </div>

    <nav class="nav-bottom">
      <button class="btn" id="btn-profile">My Profile</button>
      <button class="btn" id="btn-feed">News Feed</button>
      <button class="btn" id="btn-setting">Settings</button>
    </nav>

  </main>
