<main>
  <nav class="nav-top">
    <button
      [routerLink]="adminPath"
      class="btn"
      id="btn-admin" >
      Admin
    </button>
  </nav>

  <div class="div__main">

    <nav class="nav-left">
      <ul *ngFor="let user of users">
        <li>
          <button (click)="onDisplayUser(user._id)" id={{user._id}} class="btn">{{ user.name }}</button>
          <button (click)="onDeleteUser(user)" type="button" class="btn btn-delete">Delete</button>
        </li>
      </ul>

      <button (click)="onAddUser()" type="button" class="btn btn-addUser">Add User Button</button>
    </nav>

    <div *ngIf="user" class="detail">
        <ul><h2>User Details</h2>
          <li>Name: {{ user.name }}</li>
          <li>Username: {{ user.userName }}</li>
          <li>Password: {{ user.password }}</li>
          <li>Email: {{ user.userEmail }}</li>
          <li>Role: {{ user.userRole }}</li>
          <li>Gender: {{ user.gender }}</li>
          <li>Age: {{ user.age }}</li>
        </ul>

    </div>

  </div>


  <nav class="nav-bottom">

    <button
      [routerLink]="profilePath"
      class="btn"
      id="btn-profile" >
      My Profile
    </button>

    <button
      [routerLink]="newsFeedPath"
      class="btn"
      id="btn-feed" >
      News Feed
    </button>

    <button
      [routerLink]="settingsPath"
      class="btn"
      id="btn-setting" >
      Settings
    </button>

  </nav>

</main>
