  <main>

    <div class="div__main">

      <fieldset>

        <img class="logo" src="#" />

        <div class="row">
          <label for="username" id="label-username">Username</label>
          <input type="text" id="username" />
        </div>

        <div class="row">
          <label for="password" id="label-username">Password</label>
          <input type="password" id="password" />
        </div>

        <button mat-raised-button
          (click)="onLogin()"
          class="btn btn-login btn-green">
          Login
        </button>

        <div class="row">
          <a
            [routerLink]="registerPath"
            target="_blank">
            No Account? Register Now!
          </a>
        </div>

        <div class="row">
          <input type="checkbox" id="agreement" />
          <label for="agreement">Agreement</label>
          <a href="#" target="_blank">Need Help?</a>
        </div>

      </fieldset>

    </div>

  </main>
