<main>

  <div class="div__main">

      <fieldset *ngIf="user">

        <img class="avatar" src="../../assets/generic.png" />

        <div class="row">
          <label for="username">Username:</label>
          <input type="text" id="username" value={{user.userName}} />
        </div>

        <div class="row">
          <label for="password">Password:</label>
          <input type="password" id="password" value={{user.password}} />
        </div>

        <div class="row">
            <label for="email">Email:</label>
            <input type="email" id="email" value={{user.userEmail}} />
        </div>

        <div class="row">
          <label for="gender">Gender:</label>
          <input type="text" id="gender" value={{user.gender}} />
        </div>

        <div class="row">
          <label for="age">Age:</label>
          <input type="text" id="age" value={{user.age}} />
        </div>

        <div class="row">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" value={{user.phone}} />
        </div>

        <div class="row">
          <img src="#" />
          <span>0</span>
          <img src="#" />
          <span>0</span>
        </div>

      </fieldset>

    </div>

  </main>
