<main>
  <nav class="nav-top">
    <a id="like-list">Like List</a>
  </nav>

  <div class="div__main">

    <fieldset>
      Setting Panel
    </fieldset>

    <button class="btn" id="btn-logout">
      Logout button
    </button>

  </div>

  <nav class="nav-bottom">

    <button
      [routerLink]="profilePath"
      class="btn"
      id="btn-profile" >
      My Profile
    </button>

    <button
      [routerLink]="newsFeedPath"
      class="btn"
      id="btn-feed" >
      News Feed
    </button>

    <button
      [routerLink]="settingsPath"
      class="btn"
      id="btn-settings">
      Settings
    </button>

  </nav>

</main>
