  <div id="login-container">

    <form
      id="login-form"
      class="div__main"
      [formGroup]="inputForm"
      (ngSubmit)="onLogin()" >

      <fieldset
        id="fieldset__login" >

        <img
          class="logo"
          width=100
          src={{logo}}
          alt="logo" />


        <mat-form-field
          class="row"
          appearance="fill" >

          <mat-label
            id="label-{{email.id}}" >
            {{email.label}}
          </mat-label>

          <input
            matInput
            id="input-{{email.id}}"
            type={{email.type}}
            name={{email.id}}
            placeholder={{email.placeholder}}
            formControlName={{email.id}} />

          <mat-hint>Type your email</mat-hint>

          <!-- Pop up error message for invalid input -->
          <mat-error
            *ngIf="inputForm.get(email.id)?.hasError(email.id) &&
            !inputForm.get(email.id)?.hasError('required')">
            Required
          </mat-error>

          <mat-error
            *ngIf="inputForm.get(email.id)?.hasError('required')">
            Invalid input
          </mat-error>

        </mat-form-field>


        <mat-form-field
          class="row"
          appearance="fill">

          <mat-label
            id="label-{{password.id}}" >
            {{password.label}}
          </mat-label>

          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            id="input-{{password.id}}"
            type={{password.type}}
            name={{password.id}}
            placeholder={{password.placeholder}}
            formControlName={{password.id}}>

              <button
                mat-icon-button matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                  <mat-icon>
                    {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
              </button>

          <mat-hint>Type your password</mat-hint>

          <!-- Pop up error message for invalid input -->
          <mat-error
            *ngIf="inputForm.get(password.id)?.hasError(password.id) &&
            !inputForm.get(password.id)?.hasError('required')">
            Password is required
          </mat-error>

          <mat-error
            *ngIf="inputForm.get(password.id)?.hasError(password.id) &&
            !inputForm.get(password.id)?.hasError('minLength')">
            Password is too short
          </mat-error>

        </mat-form-field>


        <button
          mat-raised-button
          color="primary"
          class="btn btn-login btn-green"
          type="submit"
          [disabled]="!inputForm.valid">
          Login
        </button>

        <div class="row">
          <a
            [routerLink]="registerPath"
            target="_blank">
            No Account? Register Now!
          </a>
        </div>

        <div class="row">
          <input type="checkbox" id="agreement" />
          <label for="agreement">Agreement</label>
          <a href="#" target="_blank">Need Help?</a>
        </div>

      </fieldset>

    </form>

  </div>

          <!-- <mat-error *ngIf="!inputForm?.get(password.id)?.errors?.['validateCredential']">
            Invalid email address or password / {{inputForm?.get(password.id)?.errors?.['requiredValue']}}
          </mat-error>

          <mat-error *ngIf="!inputForm?.get(password.id)?.errors?.['validateCredential']">
            Invalid email address or password
          </mat-error> -->
