<style>

  </style>

  <main>
    <nav>
      <a>Like List</a>
    </nav>

    <div class="div__main">

      <div>

        <app-post-feed></app-post-feed>

        <ul *ngFor="let story of stories">
          <app-story [story]="story"></app-story>
        </ul>

      </div>

      <div>
        <div>
          <p>
            PublisherName: Published Time
            <br>
            Content (Custom pipe, limited length)
          </p>
          <button>Remove</button>
        </div>
        <div>
          - Mid Section-
        </div>
        <div>
          - Bottom Section
        </div>
      </div>

    </div>

    <nav>

      <button
        [routerLink]="profilePath">
        My Profile
      </button>

      <button
        [routerLink]="newsFeedPath">
        News Feed
      </button>

      <button
        [routerLink]="settingsPath">
        Settings
      </button>

    </nav>

  </main>
